body
    {
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1495313196544-7d1adf4e628f%3Fixlib%3Drb-1.2.1%26ixid%3DMnwxMjA3fDB8MHxzZWFyY2h8MXx8dHJhaW4lMjBzdGF0aW9ufGVufDB8fDB8fA%253D%253D%26w%3D1000%26q%3D80&imgrefurl=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Ftrain-station&tbnid=ozqqrlnRX1kOHM&vet=12ahUKEwiSvf36w-f0AhVc7DgGHULLC-0QMygBegUIARDWAQ..i&docid=cIe2nY41BjxPEM&w=1000&h=667&itg=1&q=station%20image&ved=2ahUKEwiSvf36w-f0AhVc7DgGHULLC-0QMygBegUIARDWAQ") ;
    background-size: cover;
    font-weight: bold;
    text-align: center;
    }

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}